@charset "UTF-8";
/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.4s ease;
}

/* ===== Colours (mau mac dinh) ===== */
:root {
  /**
     * colors
     */

  --bright-yellow-crayola: hsl(36, 94%, 57%);
  --portland-orange: hsl(15, 84%, 57%);
  --battleship-gray: hsl(0, 0%, 53%);
  --silver-chalice: hsl(0, 0%, 70%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(208, 7%, 46%);
  --raisin-black: hsl(228, 6%, 17%);
  --eerie-black: hsl(210, 3%, 13%);
  --bittersweet: hsl(9, 96%, 69%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --amber: hsl(45, 100%, 51%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(220, 2%, 24%);

  /**
     * typography
     */

  --ff-bangers: "Bangers", cursive;
  --ff-carter_one: "Carter One", cursive;
  --ff-nunito_sans: "Nunito Sans", sans-serif;

  --fs-1: 4.5rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1rem;

  --fw-200: 200;
  --fw-700: 700;

  /**
     * spacing
     */

  --section-padding: 40px;

  /**
     * shadow
     */

  --shadow-1: 0 8px 16px hsla(0, 0%, 0%, 0.15);
  --shadow-2: 0 8px 8px hsla(0, 0%, 0%, 0.2);

  /**
     * radius
     */

  --radius-4: 4px;
  --radius-10: 10px;

  /**
     * transition
     */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  /* body admin */
  --body-color: hsl(9, 100%, 81%);
  --nav-color: #ffffff;
  --side-nav: #010718;
  --text-color: #000000;
  --search-bar: #fff;
  --search-text: #010718;
  --box-shadow: #00000083;
}
/* end root */

body {
  margin-left: 30px;
  background-color: var(--nav-color);
}
/* Doanh thu */
.loading-screen {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: var(--nav-color);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.spinner {
  width: 150px;
  height: 150px;
}

p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}
.service1 {
  position: relative;
}
.service1_2 {
  position: absolute;
  top: 20px;
  left: 14px;
}
.service1_3 {
  position: absolute;
  bottom: 20px;
  right: -20px;
}

.button {
  background-image: linear-gradient(90deg, #fda64a, #ed6336);
  color: white;
  border: none;
  width: 170px;
  height: 35px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.img {
  width: 300px;
  height: 182px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
