<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav>
		<div class="nav-bar">
			<div class="darkLight-searchBox">
				<div class="info">
					<div class="box-weather m-2">
						<img class="m-0" id="weather-icon" src="" alt="Weather Icon"
							style="display: none" />
					</div>
					<div class="clock" id="time">00:00:00</div>
					<div class="date" id="date">Day, DD/MM/YYYY</div>
				</div>
				<div class="dark-light" id="reloadButton">
					<i class="bx bx-moon moon"></i> <i class="bx bx-sun sun"></i>
				</div>
				<div class="searchBox">
					<div class="searchToggle">
						<i class="bx bx-x cancel"></i> <i class="bx bx-search search"></i>
					</div>
					<div class="search-field">
						<input type="text" placeholder="Bạn muốn tìm gì?" /> <i
							class="bx bx-search"></i>
					</div>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>